<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Aligent_CartCheckItOut>
            <version>0.1.0</version>
        </Aligent_CartCheckItOut>
    </modules>
    <global>
        <blocks>
            <aligent_cartcheckitout>
                <class>Aligent_CartCheckItOut_Block</class>
            </aligent_cartcheckitout>
        </blocks>
        <helpers>
            <aligent_cartcheckitout>
                <class>Aligent_CartCheckItOut_Helper</class>
            </aligent_cartcheckitout>
        </helpers>
        <models>
            <aligent_cartcheckitout>
                <class>Aligent_CartCheckItOut_Model</class>
            </aligent_cartcheckitout>
            <checkout>
                <rewrite>
                    <type_onepage>Aligent_CartCheckItOut_Model_Checkout_Type_Onepage</type_onepage>
                    <cart>Aligent_CartCheckItOut_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <checkout>
                    <file>aligent/cartcheckitout/checkout.xml</file>
                </checkout>
                <aligent_cartcheckitout>
                    <file>aligent/cartcheckitout/cartcheckitout.xml</file>
                </aligent_cartcheckitout>
            </updates>
        </layout>
        <routers>
            <cartcheckitout>
                <use>standard</use>
                <args>
                    <module>Aligent_CartCheckItOut</module>
                    <frontName>cartcheckitout</frontName>
                </args>
            </cartcheckitout>
            <checkout>
                <args>
                    <modules>
                        <Aligent_CartCheckItOut before="Mage_Checkout">Aligent_CartCheckItOut</Aligent_CartCheckItOut>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <default>
        <aligent_cartcheckitout>
            <settings>
                <enabled>1</enabled>
                <varnishcache_enabled>1</varnishcache_enabled>
                <emarsys_enabled>1</emarsys_enabled>
                <google_maps_api_url>https://maps.googleapis.com/maps/api/js?key=AIzaSyCVufI0xiu3YqzPC8C9lm2q02rYH1R1FBo&amp;libraries=places</google_maps_api_url>
                <default_payment_method>afterpaypayovertime</default_payment_method>
            </settings>
        </aligent_cartcheckitout>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aligent_cartcheckitout>
                                            <title>Aligent Cart Checkitout</title>
                                        </aligent_cartcheckitout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>